/*  your css code here. If applicable */
.card {
	margin: auto;
	width: 400px;
	background-color: lightgray;
	padding: 20px;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.23);
}

.img {
	width: 400px;
	align-self: center;
}

p {
	text-align: center;
	padding: 5px;
}

h1 {
	text-align: center;
}

button {
	margin-left: 40%;
	padding: 10px;
	background-color: indianred;
	border-radius: 5px;
	color: white;
	border: none;
}